
  .homepagediv {
    display: flex;
    width: 100vw;
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  
  .firsthomepage {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row-reverse;
    padding-top: 10vh;
  }
  .secondhomepage {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }
  .firsthomepagetext
  {
    margin: 2rem;
    width: 40vw;
  }
  .mostLikeda {
    display: flex;
    background-color:#2b629262;
    flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: nowrap; /* Ensures items are in a single row without wrapping */
  overflow-x: auto;
  }
  .secondhomepageimg {
    margin: 10vh;
    height: 27vw;
    border-radius: 10%;
    animation: slideInFromRight 3s ease-in;
  }
  .firsthomepageimg {
    margin: 10vh;
    height: 27vw;
    border-radius: 10%;
    animation: slideInFromLeft 1s ease-in;
    /* border-radius: 18% 33% 18% 32%; */
    /* animation: fkbarda 5s infinite alternate ease-in-out; */
  }
  @keyframes fkbarda {
    0% {
      border-radius: 32% 18% 32% 8%;
    }
    50% {
      border-radius: 32% 18% 33% 39%;
    }
    100% {
      border-radius: 18% 32% 32% 37%;
    }
  }
  
@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }