#BookText{
    display: flex;
}
.PagesContainer {
    display: flex;
    position: absolute;
    z-index: 2;

}
.pagesBTN {
    opacity: 10%;
    position: absolute;
    height: 100%;
    z-index: 3;

}
.pagesBTN:hover {
    opacity: 100%;
}
#PreviousPage {
    left: 0;
}
#nextPage {
    right: 0;
}


