
 #BookText {
    display: flex;
}

.PagesContainer {
    display: flex;
    position: relative; /* Change to relative */
    z-index: 2;
    border: 2px, black;
    width: 100%;
}


.pagesBTN {
    opacity: 0.1; /* Adjust as needed */
    position: absolute;
    height: 100%;
    z-index: 3;
    width: 5%;
    border: none; /* Remove the border */
    background-color: transparent; /* Set background color to transparent */
    cursor: pointer; /* Add pointer cursor on hover */
}
#closeModalBTN{

    color: black; 
    font-size: xx-large;
}

.BTNtext {
    opacity: 100%;
    color: black; 
    transition: opacity 0.3s ease; 
    font-size: xx-large;
}

.pagesBTN:hover {
    opacity: 40%; /* Adjust opacity on hover */
}

.pagesBTN:hover .BTNtext {
    opacity: 300; /* Keep text fully opaque on hover */
}

#PreviousPage {
    left: 0;
}

#nextPage {
    right: 0;
}
#Page{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px){
    
    #Modal {
        width: 100%; 
        height: 100%; 
        display: flex;
    }

    .PagesContainer {
        width: 100%;
        height: 100vh; /* Make the container full-screen */
        top: 0;
        left: 0;
        position: absolute;
        transform: rotate(90deg); /* Rotate and move out of viewport */
    }
}

