/* styles.css */



#container {
    width: 80%; /* Fill the screen width */
    
    margin-top: 100px;
    padding: 20px;
    background-color: #ffffff; /* white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow effect */
    direction: rtl; /* Set text direction to right-to-left */
    display: flex;
    flex-direction: column;

}

h2 {
    color: #333333; /* dark gray text color */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box; /* include padding and border in the width */
}

button {
    background-color: #007bff; /* blue button */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3; /* darker blue on hover */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

ul li img {
    display: inline-block;
    width: 5vw;
}

textarea {
    height: 100px; /* set a fixed height for the textarea */
}
